## Intro:
My client, Meagher + Geer, PLLP faced a data-centric issue on their case that required the cleaning, aggregating, and visualization of a large and complex set of data to help support their claim in a workers compensation suit. This was required for them to provide further context utilizing the quantitative data provided to them on their clients assumed working times over a multi-year period in the form of millions of raw time stamps and work functions performed by their client.

To tackle this issue, Meagher + Geer, PLLP hired Slater Bernstein consulting to perform the following key Analytical functions:

Â· Extract, transform and load the raw data into a normalized table  containing the timestamps and work functions performed by their client over the outlined period. The raw tables came in the form of CSV files which were then extracted to a SQL schema.
    - *For confidentiality purposes, only column headers and dummy data will be displayed for all example visualizations.*

In [163]:

import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
from IPython.display import display
import os

#Creating Connection between MySQL DataBase
try:
    mydb = mysql.connector.connect(
        host = os.getenv('host'),
        user = os.getenv('user'),
        password = os.getenv('pass'),
        database = "HvT"
    )
    curser = mydb.cursor(buffered=True)
    curser.execute("use HvT")

except mysql.connector.Error as err:
    print("An error occurred:", err)

#Connection to MySQL for access to load into MySQL Database
engine = create_engine(f"mysql+mysqlconnector://{os.getenv('user')}:{os.getenv('pass')}@localhost:3306/HvT")

# Loading raw data from CSV -> Dataframe for staging -> MySQL DataTable
emailsDf = pd.read_csv('..\\RAW\\Haralson Email Messages.csv')
emailsDf['Sort Date/Time - Offset'] = pd.to_datetime(emailsDf['Sort Date/Time - Offset'])
print(emailsDf.info())
emailsDf.to_sql('Emails', con=engine, if_exists='replace', index=False)

messagesDf = pd.read_csv('..\\RAW\\Teams Messages.csv')
messagesDf['Sort Date/Time - Offset'] = pd.to_datetime(messagesDf['Sort Date/Time - Offset'])
print(messagesDf.info())
messagesDf.to_sql('Messages', con=engine, if_exists='replace', index=False)

#...

# Certain CSV's were grouped by year and needed to be appended to normalize the dataset
SAP20 = pd.read_csv('..\\RAW\\SAP REPORT 2020 - TS 843.csv')
SAP21 = pd.read_csv('..\\RAW\\SAP REPORT 2021 - TS 844.csv')
SAP22 = pd.read_csv('..\\RAW\\SAP REPORT 2022 - TS 845.csv')
SAP23 = pd.read_csv('..\\RAW\\SAP REPORT 2023 - TS 840.csv')

sap20_24Df = pd.concat([SAP20, SAP21, SAP22, SAP23], ignore_index=True)
sap20_24Df['Time Stamp'] = pd.to_datetime(sap20_24Df['Time Stamp'], format='mixed', dayfirst=True)
print(sap20_24Df.info())

#Creating connection to the MySQL server set up above, then beginning the transactional connection
try:
    connection = engine.connect()

    trans = connection.begin()

    #Since the concatenated dataframes are very large, the rows must be loaded in chunks of 10,000
    try:
        sap20_24Df.to_sql('SAP20-23', con=engine, if_exists='replace', index=False, chunksize=10000)
        print("LFG")
        trans.commit()
    except SQLAlchemyError as e:
        print({e})
        connection.rollback()
    finally:
        connection.close()

except SQLAlchemyError as e:
    print({e})


#For display purposes, a control set of 10 rows of data is taken from the Emails table
curser.execute("SELECT `Control Number`, `Sort Date/Time - Offset` as DateTime, `date`, `time`, `DoW`, `Record Type` FROM Emails;")
emails = curser.fetchall()
headers = [i[0] for i in curser.description]
emailsDf = pd.DataFrame(emails, columns=[headers], index=None)
display(emailsDf.head(10))

,Control Number,DateTime,date,time,DoW,Record Type
0,EML00149132,2018-07-10 11:42:00,7/10/2018,11:42:00 AM,Tuesday,Email
1,EML00149152,2018-07-10 13:59:00,7/10/2018,1:59:00 PM,Tuesday,Email
2,EML00162279,2018-07-10 15:58:00,7/10/2018,3:58:00 PM,Tuesday,Email
3,EML00162275,2018-07-10 16:01:00,7/10/2018,4:01:00 PM,Tuesday,Email
4,EML00162287,2018-07-10 16:02:00,7/10/2018,4:02:00 PM,Tuesday,Email
5,EML00162274,2018-07-10 16:02:00,7/10/2018,4:02:00 PM,Tuesday,Email
6,EML00162271,2018-07-10 16:09:00,7/10/2018,4:09:00 PM,Tuesday,Email
7,EML00162266,2018-07-10 16:17:00,7/10/2018,4:17:00 PM,Tuesday,Email
8,EML00162265,2018-07-10 16:20:00,7/10/2018,4:20:00 PM,Tuesday,Email
9,EML00162264,2018-07-10 16:21:00,7/10/2018,4:21:00 PM,Tuesday,Email

Several questions needed to be answered using this data, and after gathering requirements with my client, these four questions were deemed most integral to answering their business problem:
    - When did the client start/end their work day on average?
    - how many interactions contributed to their daily online footprint?
    - When were they most/least active?
    - How many overtime hours did the client accumulate total/on average?

This brought me to my next key analytical function:

Â· Group and aggregate the raw timestamps to gather information on their clientâs first and last work function performed each day, as well as how many work functions were performed and my data driven opinion on working hours.

In [ ]:
# First all tables needed to be concatenated into a combined table with the date, mininum, maximum, and count of timestamp for each medium
curser.execute("""
DROP TABLE IF EXISTS CombinedStamps;
CREATE TABLE CombinedStamps AS
SELECT 
    DATE(`Sort Date/Time - Offset`) AS date, 
    MIN(`Sort Date/Time - Offset`) AS first_timestamp, 
    MAX(`Sort Date/Time - Offset`) AS last_timestamp, 
    COUNT(`Sort Date/Time - Offset`) AS timestamp_count
FROM 
    Emails
GROUP BY 
    DATE(`Sort Date/Time - Offset`)

UNION ALL

SELECT 
    DATE(`Sort Date/Time - Offset`) AS date, 
    MIN(`Sort Date/Time - Offset`) AS first_timestamp, 
    MAX(`Sort Date/Time - Offset`) AS last_timestamp, 
    COUNT(`Sort Date/Time - Offset`) AS timestamp_count
FROM 
    Messages
GROUP BY 
    DATE(`Sort Date/Time - Offset`)

UNION ALL

SELECT 
    DATE(`Date/time submitted`) AS date, 
    MIN(`Date/time submitted`) AS first_timestamp, 
    MAX(`Date/time submitted`) AS last_timestamp, 
    COUNT(`Date/time submitted`) AS timestamp_count
FROM 
    ESKER
GROUP BY 
    DATE(`Date/time submitted`)

UNION ALL

SELECT 
    DATE(`Time Stamp`) AS date, 
    MIN(`Time Stamp`) AS first_timestamp, 
    MAX(`Time Stamp`) AS last_timestamp, 
    COUNT(`Time Stamp`) AS timestamp_count
FROM 
    `SAP20-23`
GROUP BY 
    DATE(`Time Stamp`)

UNION ALL

SELECT 
    DATE(`Sort Date/Time - Offset`) AS date, 
    MIN(`Sort Date/Time - Offset`) AS first_timestamp, 
    MAX(`Sort Date/Time - Offset`) AS last_timestamp, 
    COUNT(`Sort Date/Time - Offset`) AS timestamp_count
FROM 
    `TS20-23`
GROUP BY 
    DATE(`Sort Date/Time - Offset`);
               """, multi=True)


# From there the query simply needed to be tailored to answer the initial questions:
#   - SELECT statement gathers the earliest and latest timestamp from the combined table as well as a grand sum of interactions for all timestamps
#   - WHERE statement filters first timestamps by the earliest reasonable time the client would start their work day
#   - GROUP BY statement will group the SELECT data by recorded date, most notably the timestamp counts which allow me to gather all presumed work functions for each date
#   - HAVING statement will filter all data by the requested observable period
curser.execute("""
SELECT
    `date`, 
    MIN(first_timestamp) as startTime,
    MAX(last_timestamp) as endTime,
    sum(timestamp_count) as timestamp_count
FROM 
    CombinedStamps
WHERE 
    HOUR(first_timestamp) >= '05:00:00'
GROUP BY 
    `date`
HAVING 
    `date` BETWEEN '2020-09-26' AND '2023-08-09';
               """)
DateTimeAll = curser.fetchall()
headers = [i[0] for i in curser.description]
DateTimeAllDf = pd.DataFrame(DateTimeAll, columns=[headers], index=None)
display(DateTimeAllDf.head(10))
print("Row Count: " + str(len(DateTimeAllDf)))

         date           startTime             endTime timestamp_count
0  2020-09-26 2020-09-26 07:16:00 2020-09-26 21:29:00             123
1  2020-09-27 2020-09-27 05:02:00 2020-09-27 22:31:00              43
2  2020-09-28 2020-09-28 06:34:00 2020-09-28 23:57:00              92
3  2020-09-29 2020-09-29 05:28:00 2020-09-29 23:03:00             420
4  2020-09-30 2020-09-30 07:13:00 2020-09-30 22:25:00              68
5  2020-10-01 2020-10-01 05:46:00 2020-10-01 19:08:00              65
6  2020-10-02 2020-10-02 06:22:00 2020-10-02 18:57:00              53
7  2020-10-04 2020-10-04 08:35:00 2020-10-04 17:33:00              20
8  2020-10-05 2020-10-05 06:54:00 2020-10-05 20:05:00             151
9  2020-10-06 2020-10-06 06:40:00 2020-10-06 19:46:00              64

Row Count: 1010